<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="APP_Name" value="lab"/>

    <!-- 定义日志文件的存储地址 勿在配置中使用相对路径 -->
    <springProfile name="dev">
        <property name="LOG_HOME" value="D:\\lab003"/>
    </springProfile>
    <springProfile name="test,prod">
        <property name="LOG_HOME" value="/home/log"/>
    </springProfile>

    <!-- 输出到控制台 -->
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- RollingFileAppender：滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 临界值过滤器，过滤掉低于指定临界值的日志信息 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <!-- 正在记录的日志文件的路径及文件名 -->
        <File>${LOG_HOME}/${APP_Name}/story.log</File>
        <!-- 日志记录器的滚动策略，按日期，按大小记录 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 文件名：log/demo.2020-12-28.0.log -->
            <fileNamePattern>${LOG_HOME}/${APP_Name}/story.%d.%i.log</fileNamePattern>
            <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
            <maxHistory>7</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB，测试时可改成1KB看效果 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <!-- 日志文件输出格式 -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
    <!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
    <!-- additivity=false 表示匹配之后，不再继续传递给其他的logger，默认true -->
    <!-- 测试环境+开发环境. 多个使用逗号隔开 -->

    <!-- 开发环境:打印到控制台 -->
    <springProfile name="dev,test">
        <logger name="com.aircraft.codelab" level="debug"/>

        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <!-- 生产环境:输出到文件 -->
    <springProfile name="prod">
        <logger name="com.aircraft.codelab" level="info"/>

        <root level="info">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>